<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Web Sitesi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class='body'>
    <nav class='navbar'>
        <div class='logo'> PicDetect.com</div>
        <ul class="menu">
            <li><a href="/">Ana Sayfa</a></li>
            <li><a href="/giris">Giriş Yap</a></li>
            <li><a href="/kayit">Kayıt Ol</a></li>
            <li><a href="/yardim">Yardım</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="/logout">Çıkış Yap</a></li>
                <li><a href="/rapor">Raporlama</a></li>
            {% else %}
                <li><a href="/giris">Giriş Yap</a></li>
            {% endif %}
        </ul>
    </nav>
    
    <div class='box2'>
        <h1>Görüntü Seçin veya Yükleyin</h1>
    </div>

    <div class='box'>        
        <h1>Resim Yükleyin</h1>
        <form action="/predict" method="post" enctype="multipart/form-data">
            <input class='file' type="file" name="file" id="fileInput" onchange="upload()">
            <input class='kontrol' type="submit" value="Kontrol Et">
        </form>
    </div>

    <div class='box1'>
        <h2>Seçilen Resim:</h2> 
        <img class= 'img' id="imagePreview" src="#" alt="Seçilen Resim" style="display: none; max-width: 200px; max-height: 200px;">
    </div>

    <div class='boxes'> 
        <div class="content">
            {% if current_user.is_authenticated %}
                <p>Hoş geldiniz, {{ user_name }}!</p>
            {% endif %}
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flashes">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <script>
        function upload() {
            var fileInput = document.getElementById('fileInput');
            var imagePreview = document.getElementById('imagePreview');

            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }

        document.addEventListener('keydown', function(event) {
            if (event.key === 'F1') { // F1 tuşunun kodu
                event.preventDefault();
                window.open('{{ url_for('static', filename='help.html') }}', 'Yardım', 'width=800,height=600');
            }
        });
    </script>
</body>
</html>
