<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Web Sitesi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class='body'>
    <nav class='navbar'>
        <div class='logo'> PicDetect.com</div>
        <ul class="menu">
            <li><a href="/">Ana Sayfa</a></li>
            <li><a href="/giris">Giriş Yap</a></li>
            <li><a href="/kayit">Kayıt Ol</a></li>
            <li><a href="/yardim">Yardım</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="/logout">Çıkış Yap</a></li>
                <li><a href="/rapor">Raporlama</a></li>
            {% else %}
                <li><a href="/giris">Giriş Yap</a></li>
            {% endif %}
        </ul>
        {% if session.get('ad') and session.get('soyad') %}
            <div class="welcome-message">Hoş geldiniz, {{ session['ad'] }} {{ session['soyad'] }}</div>
        {% endif %}
    </nav>
    
    <div class='box2'>
        <h1>Görüntü Seçin veya Yükleyin</h1>
    </div>

    <div class='box'>        
        <h1>Resim Yükleyin</h1>
        <form id="uploadForm" action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
            <input class='secbutton' type="file" id="fileInput" name="file" accept="image/png, image/jpeg, image/jpg" onchange="previewImage()">
            <button type="submit" class="yuklebutton" onclick="upload()">Yükle</button>
        </form>
    </div>

    <div class='box1'>
        <h2>Seçilen Resim:</h2> 
        <img class= 'img' id="imagePreview" src="#" alt="Seçilen Resim" style="display: none ; max-width: 200px; max-height: 200px;">
    </div>

    

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flashes">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    

    <script>
        function upload() {
            var fileInput = document.getElementById('fileInput');
            var imagePreview = document.getElementById('imagePreview');

            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
        
        function previewImage() {
            var fileInput = document.getElementById('fileInput');
            var imagePreview = document.getElementById('imagePreview');

            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';  // Resmi görünür yap
                };

                reader.readAsDataURL(fileInput.files[0]);  // Resmi oku ve base64 olarak görüntüle
            } else {
                imagePreview.src = "";
                imagePreview.style.display = 'none';  // Resmi gizle
            }
        }

        document.addEventListener('keydown', function(event) {
            if (event.key === 'F1') { // F1 tuşunun kodu
                event.preventDefault();
                window.open('{{ url_for('static', filename='help.html') }}', 'Yardım', 'width=800,height=600');
            }
        });
    </script>
</body>
</html>
