<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yardım - PicDetect.com</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='yardim.css') }}">
</head>
<body class='body'>
    <nav class='navbar'>
        <div class='logo'> PicDetect.com </div>
        <ul class="menu">
            <li><a href="/">Ana Sayfa</a></li>
            <li><a href="/giris">Giriş Yap</a></li>
            <li><a href="/kayit">Kayıt Ol</a></li>
            <li><a href="/yardim">Yardım</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="/logout">Çıkış Yap</a></li>
                <li><a href="/rapor">Raporlama</a></li>
            {% endif %}


        </ul>
    </nav>
    
    <div class="yardim">
        <ul class='help'>
            <li><a href="#help" onclick="openhelp()">Yardım</a></li>
            <li><a href="#kullanici-kilavuzu" onclick="openKullaniciKilavuzu()">Kullanıcı Kılavuzu</a></li>
            {% if current_user.is_authenticated and current_user.is_admin %}
    <li><a href="/admin_panel">Yönetici Paneli</a></li>
{% endif %}

        </ul>
    </div> 

    <script>
        function openKullaniciKilavuzu() {
            window.open('{{ url_for("static", filename="kullanici-kilavuzu.html") }}', 'Kullanıcı Kılavuzu', 'width=800,height=600');
        }
    </script>

    <script>
        function openhelp() {
            window.open('{{ url_for("static", filename="help.html") }}', 'yardım', 'width=800,height=600');
        }
    </script>

    <script>
        document.addEventListener('keydown', function(event) {
            if (event.key === 'F1') { // F1 tuşunun kodu
                event.preventDefault();
                window.open('{{ url_for('static', filename='help.html') }}', 'Yardım', 'width=800,height=600');
            }
        });
    </script>

</body>
</html>
